@import 'assets/fonts/fonts.css';
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }

  .owl-nav {
    max-width: 970px !important;
  }

  .reviews-slider .owl-nav {
    display: none;
  }

  .activity__title {
    font-size: 20px !important;
  }

  .activity__button {
    font-size: 12px !important;
  }

  .average {
    height: 335px !important;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .full-screen {
    width: 100% !important;
  }

  .owl-nav {
    max-width: 750px !important;
  }

  .description .content-wrapper img {
    display: none;
  }

  .reviews-slider .owl-dots {
    margin-bottom: 20px;
    margin-top: -10px;
    contain: none;
    padding: 0;
  }
  .reviews-slider .owl-nav {
    display: none;
  }

  .reviews .wrapper-text .name {
    font-size: 18px !important;
  }

  .logos {
    display: grid !important;
    place-items: center !important;
    justify-content: center !important;
  }

  .activity__title {
    font-size: 12px !important;
  }

  .activity__button {
    font-size: 9px !important;
  }

  .block-wrapper .block {
    height: auto !important;
    padding: 25px 40px !important;
  }

  .average {
    height: 335px !important;
  }

  .slider-images .owl-nav {
    display: none;
  }
  .slider-images .item {
    width: auto !important;
  }
  .slider-images .item .img {
    width: auto !important;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }

  .logo {
    margin-top: -105px;
  }

  .reviews-slider .owl-dots {
    margin-bottom: 20px;
    margin-top: -50px;
    contain: none !important;
    padding: 0;
  }
  .reviews-slider .owl-nav {
    display: none;
  }

  .logos {
    display: grid !important;
    place-items: center !important;
    justify-content: center !important;
  }

  .feature__title {
    padding-right: 5px;
    font-size: 15px !important;
  }

  .activity__title {
    font-size: 20px !important;
  }

  .activity__button {
    font-size: 12px !important;
  }

  .average {
    height: 285px !important;
  }

  .logo {
    margin-top: 0 !important;
  }
}
.bg-white {
  background-color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button-wrapper {
  text-align: right;
}

.title {
  font-family: Comissioner-Regular;
  font-size: 28px;
}

.text {
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #00000082;
}

.button {
  background-color: #DEC377;
  font-family: Comissioner-Bold;
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  width: 200px;
  height: 45px;
  border: none;
  outline: none;
  margin-top: 10px;
  margin-bottom: 100px;
}
.button:hover {
  background-color: white;
  color: #DEC377;
  border: 2px solid #DEC377;
}
.button:focus {
  outline: none;
}

.button-detail {
  padding: 0;
  font-size: 12px;
  background-color: white;
  border: none;
  text-transform: uppercase;
}
.button-detail:hover {
  text-shadow: 1px 6px 5px #a7a7a7;
}
.button-detail:focus {
  outline: none;
}

body {
  background-color: #E5E5E5;
}
body .header {
  line-height: 60px;
}
body .header .hamburger-menu {
  margin-top: -32px;
  margin-left: -15px;
}
body .header label {
  font-family: SourceSansPro-Light;
  font-size: 16px;
}
body .header select {
  font-family: SourceSansPro;
  font-size: 16px;
  border: none;
  background: none;
}
body .header select:hover {
  cursor: pointer;
}
body .header select:focus {
  outline: none;
}
body .header .eye:hover {
  cursor: pointer;
}
body .header a {
  font-size: 14px;
  color: #808080;
}
body .header .navigation ul {
  flex-wrap: wrap;
  list-style: none;
}
body .header .navigation ul li a {
  font-family: Comissioner-Medium;
  text-transform: uppercase;
  font-size: 14px;
  color: #000000;
  padding-bottom: 5px;
  text-decoration-line: none;
}
body .header .navigation ul li a:hover {
  border-bottom: 2px solid #000000;
}
body .header .navigation ul li img:hover {
  cursor: pointer;
}
body .slider-activities .carousel {
  height: 650px;
}
body .slider-activities .carousel .owl-stage-outer {
  z-index: -1;
}
body .slider-activities .carousel .img-wrapper .bg-img {
  background-repeat: no-repeat;
  height: 650px;
  width: 100%;
  background-position-x: center;
}
body .slider-activities .carousel .img-wrapper .pic-1 {
  background: url(assets/images/slider-activities-1.png);
}
body .slider-activities .carousel .img-wrapper .pic-2 {
  background: url(assets/images/slider-activities-2.png);
}
body .slider-activities .carousel .img-wrapper .pic-3 {
  background: url(assets/images/slider-activities-3.png);
}
body .slider-activities .carousel .img-wrapper .pic-4 {
  background: url(assets/images/slider-activities-4.png);
}
body .slider-activities .carousel .img-wrapper .pic-5 {
  background: url(assets/images/slider-activities-5.png);
}
body .slider-activities .carousel .owl-nav {
  font-size: 55px;
  max-width: 1200px;
  text-align: left;
  padding-left: 30px;
  margin: -187px auto 0 auto;
  outline: none;
  contain: size;
}
body .slider-activities .carousel .owl-nav *:focus {
  border: none;
  outline: none;
}
body .slider-activities .carousel .owl-nav *:hover {
  color: rgba(0, 0, 0, 0.8) !important;
  background: none !important;
}
body .slider-activities .carousel .owl-nav span {
  margin-right: 40px;
}
body .slider-activities .carousel .item .wrapper-information {
  position: absolute;
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
body .slider-activities .carousel .item .wrapper-information .slider__title {
  font-family: Comissioner-Regular;
  font-size: 40px;
  margin-bottom: 20px;
}
body .slider-activities .carousel .item .wrapper-information .slider__subtitle {
  font-size: 15px;
  margin-bottom: 40px;
  margin-right: 130px;
}
body .advantages .average {
  z-index: 1;
  margin-top: -70px;
  margin-bottom: 100px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  position: relative;
  padding: 35px;
  height: 285px;
}
body .advantages .mrgn {
  margin-top: 30px;
  margin-bottom: 30px;
}
body .advantages .wrapper-icon {
  margin: 0 auto 30px auto;
  width: 106px;
  height: 106px;
}
body .advantages .icon {
  border: 3px solid #00000021;
  border-radius: 50%;
  padding: 20px;
}
body .advantages .title-wrapper .title-icon {
  font-size: 16px;
  text-align: center;
}
body .advantages .text-block {
  background-color: #FFFFFF;
  background-image: url(assets/images/triangle.png);
  background-repeat: no-repeat;
  background-position-x: right;
  margin-bottom: 100px;
}
body .advantages .text-block .text {
  padding: 50px;
}
body .description .content-wrapper {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  background-color: white;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 100px;
}
body .description .content-wrapper .image-wrapper {
  padding: 0;
}
body .description .content-wrapper .description-wrapper {
  padding: 15px;
}
body .description .content-wrapper img {
  float: right;
}
body .activities .text:last-child {
  margin-top: 30px;
  margin-bottom: 60px;
}
body .activities .activity-wrapper .title {
  margin-bottom: 40px;
}
body .activities .activity-wrapper .activity {
  display: flex;
  height: 140px;
  padding: 15px;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
body .activities .activity-wrapper .information-wrapper {
  width: 175px;
}
body .activities .activity-wrapper .information-wrapper .activity__title {
  font-family: Comissioner-Regular;
  font-size: 20px;
}
body .activities .activity-wrapper .image-wrapper {
  border: 1px solid #00000021;
  border-radius: 50%;
  padding: 20px;
}
body .slider-images .large {
  max-width: 1370px !important;
}
body .slider-images .owl-prev {
  position: absolute;
}
body .slider-images .owl-next {
  float: right;
  position: absolute;
  right: 5px;
}
body .slider-images .owl-nav {
  margin-top: -280px;
  margin-bottom: 280px;
  font-size: 55px;
  outline: none;
}
body .slider-images .owl-nav *:focus {
  border: none;
  outline: none;
}
body .slider-images .owl-nav *:hover {
  color: rgba(0, 0, 0, 0.8);
  background: none;
}
body .slider-images .item {
  width: 1170px;
  margin: 0 auto;
}
body .reviews .title {
  margin-bottom: 40px;
  margin-top: -150px;
  padding-top: 185px;
}
body .reviews .reviews-slider .owl-dots {
  padding-top: 50px;
  contain: size;
}
body .reviews .reviews-slider .owl-dots .owl-dot {
  margin-top: 10px;
}
body .reviews .reviews-slider .owl-dots .owl-dot:focus {
  outline: none;
}
body .reviews .reviews-slider .owl-dots .owl-dot span {
  outline: none;
  background: #E5E5E5;
}
body .reviews .reviews-slider .owl-dots .owl-dot span:hover {
  background: #DEC377 !important;
}
body .reviews .reviews-slider .owl-dots .owl-dot.active span {
  background: #DEC377 !important;
}
body .reviews .reviews-slider .owl-nav {
  font-size: 55px;
  max-width: 1200px;
  text-align: right;
  outline: none;
  contain: size;
}
body .reviews .reviews-slider .owl-nav *:focus {
  border: none;
  outline: none;
}
body .reviews .reviews-slider .owl-nav *:hover {
  color: rgba(0, 0, 0, 0.8);
  background: none;
}
body .reviews .reviews-slider .owl-nav span {
  margin-right: 40px;
}
body .reviews .reviews-slider .item {
  height: 585px;
  background-color: white;
  padding: 0px 5px;
}
body .reviews .reviews-slider .item .wrapper-information {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
body .reviews .reviews-slider .item .wrapper-information .wrapper-text {
  padding: 50px;
}
body .reviews .reviews-slider .item .wrapper-information .wrapper-text .position {
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 15px;
}
body .reviews .reviews-slider .item .wrapper-information .wrapper-text .name {
  font-family: Comissioner-Bold;
  font-size: 26px;
  color: #DEC377;
}
body .reviews .reviews-slider .item .wrapper-information .wrapper-text .review {
  letter-spacing: 0.5px;
  font-size: 14px;
  color: #00000082;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  text-overflow: ellipsis;
}
body .reviews .reviews-slider .item .wrapper-information .review__button {
  font-weight: bold;
  color: #00000075;
}
body .reviews .reviews-section__button {
  margin-top: -20px;
}
body .reviews .logos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .reviews .logos img {
  filter: grayscale(1);
  padding-bottom: 100px;
}
body .features-1 .block-wrapper {
  margin-top: 70px;
}
body .features-1 .block-wrapper .block-with-img {
  background-image: url(assets/images/triangle.png);
  background-repeat: no-repeat;
  background-position-x: right;
}
body .features-1 .block-wrapper .block {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 305px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  margin-top: 30px;
  padding: 0px 55px;
}
body .features-1 .block-wrapper .block .block__title {
  font-family: Comissioner-Regular;
  font-size: 26px;
}
body .features-1 img {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}
body .features-2 .title {
  margin-bottom: 30px;
}
body .features-2 .features-wrapper .feature {
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
body .features-2 .features-wrapper .feature:last-child {
  margin-bottom: 50px;
}
body .features-2 .features-wrapper .feature:nth-child(3), body .features-2 .features-wrapper .feature:nth-child(4), body .features-2 .features-wrapper .feature:nth-child(7), body .features-2 .features-wrapper .feature:nth-child(8) {
  width: 570px;
}
body .features-2 .features-wrapper .feature:nth-child(2), body .features-2 .features-wrapper .feature:nth-child(5), body .features-2 .features-wrapper .feature:nth-child(9) {
  width: 670px;
}
body .features-2 .features-wrapper .feature .image-wrapper {
  width: 70px;
  margin-right: 35px;
  opacity: 0.4;
}
body .features-2 .features-wrapper .feature .opacity1 {
  opacity: 1;
}
body .features-2 .features-wrapper .feature .opacity75 {
  opacity: 0.75;
}
body .features-2 .features-wrapper .feature__title {
  font-family: Comissioner-Regular;
  font-size: 20px;
}
body .features-2 .features-wrapper .feature__button {
  right: 0;
  bottom: 0;
  position: absolute;
  padding: 0 20px 25px;
}
body .features-2 .button-wrapper {
  margin-bottom: 100px;
}
body .reputation .reputation-wrapper {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding-top: 100px;
  padding-bottom: 50px;
}
body .reputation .reputation-wrapper:last-child {
  padding-top: 50px;
  padding-bottom: 100px;
}
body .reputation .reputation-wrapper:last-child {
  border: none;
  margin-bottom: 100px;
}
body .reputation .reputation-wrapper .title {
  margin-bottom: 40px;
}
body .reputation .reputation-wrapper ul {
  margin-top: 5px;
  padding: 0;
  list-style: none;
}
body .reputation .reputation-wrapper ul li {
  display: flex;
  margin-bottom: 20px;
}
body .reputation .reputation-wrapper ul li img {
  margin-right: 20px;
}
body .cooperation .cooperation-wrapper {
  margin-bottom: 100px;
}
body .cooperation .cooperation-wrapper .title {
  margin-bottom: 40px;
}
body .cooperation .cooperation-wrapper .information-wrapper {
  display: flex;
  flex-wrap: inherit;
}
body .cooperation .cooperation-wrapper .information-wrapper img {
  margin-right: 30px;
  margin-bottom: 30px;
}
body .cooperation .cooperation-wrapper .form {
  padding: 50px;
  background-color: white;
}
body .cooperation .cooperation-wrapper .form .phone-wrapper, body .cooperation .cooperation-wrapper .form .name-wrapper {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}
body .cooperation .cooperation-wrapper .form .name, body .cooperation .cooperation-wrapper .form .phone {
  font-family: Comissioner-Medium;
  font-size: 13px;
}
body .cooperation .cooperation-wrapper .form .phone {
  margin-top: 10px;
}
body .cooperation .cooperation-wrapper .form input {
  border: none;
  margin-bottom: 5px;
  font-size: 15px;
  outline: none;
}
body .cooperation .cooperation-wrapper .form .text {
  margin-bottom: 20px;
}
body .cooperation .cooperation-wrapper .form .text span {
  font-weight: bold;
  border-bottom: 2px solid black;
}
body .cooperation .cooperation-wrapper .form .form__button {
  margin-bottom: 10px;
  width: 100%;
}
body .tariffs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body .tariffs .tariffs-wrapper .text {
  margin-top: 30px;
  margin-bottom: 30px;
}
body .contacts .contacts-wrapper {
  margin-top: 50px;
  margin-bottom: 100px;
}
body .contacts .contacts-wrapper .company-wrapper .company__title {
  margin-bottom: 70px;
  font-family: Comissioner-Regular;
  font-size: 20px;
  text-transform: uppercase;
}
body .contacts .contacts-wrapper .office-wrapper, body .contacts .contacts-wrapper .work-time-wrapper {
  margin-top: 30px;
  margin-bottom: 35px;
}
body .contacts .contacts-wrapper .office-wrapper .office__title {
  font-size: 15px;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body .contacts .contacts-wrapper .work-time-wrapper .work-time__title {
  font-size: 15px;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
body .contacts .contacts-wrapper .first {
  margin-top: 90px;
  margin-bottom: 50px;
}
body .contacts .contacts-wrapper .wrap .last {
  margin-top: 20px;
}
body .contacts .contacts-wrapper .wrap .name {
  margin-right: 10px;
  margin-bottom: 5px;
  font-family: Comissioner-Medium;
  font-size: 13px;
}
body .contacts .contacts-wrapper .wrap .contacts__text {
  font-size: 13px;
  margin-bottom: 3px;
}
body .contacts .contacts-wrapper .wrap .contacts__title {
  font-family: Comissioner-Regular;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
body .contacts .contacts-wrapper .wrap .arrow-wrapper {
  margin-left: 40px;
}
body .contacts .contacts-wrapper .wrap .email {
  margin-top: 3px;
  font-weight: bold;
}
body .contacts .contacts-wrapper .wrap img {
  margin-right: 10px;
}
body .contacts .contacts-wrapper .wrap .contacts__name {
  font-family: Comissioner-Medium;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}
body .footer .footer-wrapper {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
body .footer .footer-wrapper .footer__text {
  margin: 0;
  text-align: center;
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
