@import 'assets/fonts/fonts.css';

*{
  box-sizing: border-box;
}

.bg-white{
  background-color: white;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding:0 15px;
}

.button-wrapper{
  text-align: right;
}

@media(max-width: 1200px) {
  .container, .owl-nav {
    max-width: 970px;
  }

  .feature {
    width: 100% !important;
  }

  .owl-nav {
    max-width: 970px !important;
  }

  .reviews-slider{
    .owl-nav{
      display: none;
    }
  }
}

@media(max-width: 992px) {
  .container {
    max-width: 750px;

    .feature {
      width: 100% !important;
    }
  }

  .owl-nav {
    max-width: 750px !important;
  }

  .description {
    .content-wrapper {
      img {
        display: none;
      }
    }
  }

  .activities {
    .activity-wrapper {
      text-align: -webkit-center;
      text-align: -moz-center;
      text-align: -webkit-center;

      .activity__title {
        font-size: 17px !important;
      }
    }

  }

  .reviews-slider {
    .owl-dots {
      margin-bottom: 20px;
      margin-top: -10px;
      contain: none;
      padding: 0;
    }

    .owl-nav {
      display: none;
    }

  }

  .logos {
    display: grid !important;
    place-items: center !important;
    justify-content: center !important;
  }
}

@media(max-width: 767px) {
  .container {
    max-width: none;

    .feature {
      width: 100% !important;
    }

    .description {
      .content-wrapper {
        img {
          display: none;
        }
      }
    }
  }
  .activities {
    .activity-wrapper {
      text-align: -webkit-center;
      text-align: -moz-center;
      text-align: -webkit-center;
    }

  }
  .button-wrapper {
    text-align: center;
  }
  .button:not(:first-of-type) {
    margin: 0 auto;
  }
  .reviews-slider {
    .owl-dots {
      margin-bottom: 20px;
      margin-top: -50px;
      contain: none !important;
      padding: 0;
    }

    .owl-nav {
      display: none;
    }

  }
  .logos {
    display: grid !important;
    place-items: center !important;
    justify-content: center !important;
  }
  .slider-images {
    .item {
      width: 100% !important;

      .img {
        width: auto !important;
      }
    }
  }
}

.title {
  font-family: Comissioner-Regular;
  font-size: 28px;
}

.text{
  font-family: Lato-Light;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #00000082;
}

.button {
  background-color: #DEC377;
  font-family: Comissioner-Bold;
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  width: 200px;
  height: 45px;
  border: none;
  outline: none;
  margin-top: 10px;
  margin-bottom: 100px;

  &:hover {
    background-color: white;
    color: #DEC377;
    border: 2px solid #DEC377;
  }

  &:focus{
    outline: none;
  }
}

.button-detail{
  padding: 0;
  font-size: 12px;
  background-color: white;
  border: none;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }
}

body {
  background-color: #E5E5E5;

  .header {
    height: 150px;
    line-height: 60px;

    label {
      font-family: SourceSansPro-Light;
      font-size: 16px;
    }

    select {
      font-family: SourceSansPro;
      font-size: 16px;
      border: none;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }

    .eye:hover {
      cursor: pointer;
    }

    a {
      font-size: 14px;
      color: #808080;
    }

    .navigation {
      ul {
        flex-wrap: wrap;
        list-style: none;

        li {
          a {
            font-family: Comissioner-Medium;
            text-transform: uppercase;
            font-size: 14px;
            color: #000000;
            padding-bottom: 5px;
            text-decoration-line: none;

            &:hover {
              border-bottom: 2px solid #000000;
            }
          }

          img:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .slider-activities {
    .carousel {
      height: 650px;

      .owl-stage-outer {
        z-index: -1;
      }


      .owl-nav {
        font-size: 55px;
        max-width: 1200px;
        text-align: left;
        padding-left: 30px;
        margin: -187px auto 0 auto;
        outline: none;
        contain: size;

        & *:focus {
          border: none;
          outline: none;
        }

        & *:hover {
          color: rgba(0 0 0 / 80%) !important;
          background: none !important;
        }

        span {
          margin-right: 40px;
        }
      }

      .item {
        .wrapper-information {
          position: absolute;
          height: 650px;
          display: flex;
          flex-wrap: wrap;
          align-content: center;

          .slider__title {
            font-family: Comissioner-Regular;
            font-size: 40px;
            margin-bottom: 20px;
          }

          .slider__subtitle {
            font-size: 15px;
            margin-bottom: 40px;
            margin-right: 130px;
          }
        }

        img {

        }
      }
    }
  }

  .advantages {

    .average {
      z-index: 1;
      width: 270px;
      margin-top: -70px;
      height: 280px;
      display: flex;
      margin-bottom: 100px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      background-color: white;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    }

    .mrgn {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .wrapper-icon {
      border: 3px solid #00000021;
      border-radius: 50%;
      padding: 20px;
    }

    .title-wrapper {
      .title-icon {
        font-size: 16px;
        text-align: center;
        padding: 0 35px;
      }
    }

    .text-block {
      height: 160px;
      background-color: #FFFFFF;
      background-image: url(assets/images/triangle.png);
      background-repeat: no-repeat;
      background-position-x: right;
      margin-bottom: 100px;

      .text {
        padding: 50px;
      }
    }
  }

  .description {
    .content-wrapper {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
      background-color: white;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 100px;

      .image-wrapper {
        padding: 0;

      }

      .description-wrapper {
        padding: 15px;
      }

      img {
        float: right;
      }
    }
  }

  .activities {
    .text {
      &:last-child {
        margin-top: 30px;
        margin-bottom: 60px;
      }

    }

    .activity-wrapper {
      .title {
        margin-bottom: 40px;
      }

      .activity {
        display: flex;
        max-width: 370px;
        height: 140px;
        padding: 15px;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        margin-bottom: 30px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
      }

      .information-wrapper {
        width: 175px;


        .activity__title {
          font-family: Comissioner-Regular;
          font-size: 20px;
        }
      }

      .image-wrapper {
        border: 1px solid #00000021;
        border-radius: 50%;
        padding: 20px;
      }
    }
  }

  .slider-images {
    .large {
      max-width: 1370px !important;
    }

    .owl-next {
      float: right;
    }

    .owl-nav {
      margin-top: -280px;
      margin-bottom: 280px;
      font-size: 55px;
      outline: none;

      & *:focus {
        border: none;
        outline: none;
      }

      & *:hover {
        color: rgba(0 0 0 / 80%);
        background: none;
      }
    }

    .item {
      width: 1170px !important;
      margin: 0 auto;

      img {

      }
    }
  }

  .reviews {

    .title {
      margin-bottom: 40px;
      margin-top: -150px;
      padding-top: 185px;
    }

    .reviews-slider {
      .owl-dots {
        padding-top: 50px;
        contain: size;

        .owl-dot {
          margin-top: 10px;

          &:focus {
            outline: none;
          }

          span {
            outline: none;
            background: #E5E5E5 !important;

          }

          &.active {
            span {
              background: #DEC377 !important;

            }
          }
        }
      }

      .owl-nav {
        font-size: 55px;
        max-width: 1200px;
        text-align: right;
        outline: none;
        contain: size;

        & *:focus {
          border: none;
          outline: none;
        }

        & *:hover {
          color: rgba(0 0 0 / 80%);
          background: none;
        }

        span {
          margin-right: 40px;
        }
      }

      .item {
        height: 585px;
        background-color: white;
        padding: 0px 5px;

        .wrapper-information {
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
          justify-content: center;
          display: flex;
          flex-wrap: wrap;
          padding: -58px;
          align-content: center;

          .wrapper-text {
            padding: 50px;

            .position {
              margin-top: 25px;
              font-family: Lato-Regular;
              margin-bottom: 5px;
              font-size: 15px;
            }

            .name {
              font-family: Comissioner-Bold;
              font-size: 26px;
              color: #DEC377;
            }

            .review {
              letter-spacing: 0.5px;
              font-size: 14px;
              color: #00000082;
              display: -webkit-box;
              -webkit-line-clamp: 12;
              -webkit-box-orient: vertical;
              overflow-y: hidden;
              text-overflow: ellipsis;
            }
          }

          .review__button {
            font-weight: bold;
            color: #00000075;;
          }
        }
      }

    }

    .reviews-section__button {
      margin-top: -20px;
    }

    .logos {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      img {
        filter: grayscale(1);
        padding-bottom: 100px;
      }
    }
  }


  .features-1 {
    img {
      width: 100%;
    }

    .block-wrapper {
      flex-wrap: wrap;

      .block {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        width: 570px;
        height: 305px;
        background-color: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        margin-top: 85px;
        padding: 0 55px;

        &:nth-child(2) {
          background-image: url(assets/images/triangle.png);
          background-repeat: no-repeat;
          background-position-x: right;

        }

        &:last-child {
          width: 100%;
          margin-top: 30px;
          height: 185px;
          margin-bottom: 100px;
        }

        .block__title {
          font-family: Comissioner-Regular;
          font-size: 26px;
        }
      }
    }

    img {
      width: 100%;
      margin-bottom: 100px;
    }
  }

  .features-2 {
    .title {
      margin-bottom: 30px;
    }

    .features-wrapper {
      .feature {
        width: 470px;
        background-color: white;
        height: 140px;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 50px;
        }

        &:nth-child(3), &:nth-child(4), &:nth-child(7), &:nth-child(8) {
          width: 570px;
        }

        &:nth-child(2), &:nth-child(5), &:nth-child(9) {
          width: 670px;
        }

        .image-wrapper {
          width: 70px;
          margin-right: 35px;
          opacity: 0.4;
        }

        .opacity1 {
          opacity: 1;
        }

        .opacity75 {
          opacity: 0.75;
        }
      }

      .feature__title {
        font-family: Comissioner-Regular;
        font-size: 20px;
      }

      .feature__button {
        right: 0;
        bottom: 0;
        position: absolute;
        padding: 20px 25px;
      }
    }

    .wrapper-text {
      .text {
        padding-bottom: 100px;
      }
    }
  }

  .reputation {

    .reputation-wrapper {
      border-bottom: 2px solid rgb(0 0 0 / 10%);
      padding-top: 100px;
      padding-bottom: 50px;

      &:last-child {
        padding-top: 50px;
        padding-bottom: 100px;
      }

      &:last-child {
        border: none;
        margin-bottom: 100px;
      }

      .title {
        margin-bottom: 40px;
      }

      ul {
        margin-top: 5px;
        padding: 0;
        list-style: none;

        li {
          display: flex;
          margin-bottom: 20px;

          img {
            margin-right: 20px;
          }
        }
      }
    }
  }

  .cooperation {
    .cooperation-wrapper {
      margin-bottom: 100px;

      .title {
        margin-bottom: 40px;
      }

      .information-wrapper {
        display: flex;
        flex-wrap: inherit;

        img {
          margin-right: 30px;
          margin-bottom: 30px;
        }
      }

      .form {
        padding: 50px;
        height: 365px;
        background-color: white;

        .phone-wrapper, .name-wrapper {
          border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
        }

        .name, .phone {
          font-family: Comissioner-Medium;
          font-size: 13px;
        }

        .phone {
          margin-top: 10px;
        }

        input {
          border: none;
          margin-bottom: 5px;
          font-size: 15px;
          outline: none;
        }

        .text {
          margin-bottom: 20px;

          span {
            font-weight: bold;
            border-bottom: 2px solid black;
          }
        }

        .form__button {
          width: 100%;
        }
      }
    }
  }

  .tariffs {
    border-bottom: 1px solid rgb(0 0 0 / 10%);

    .tariffs-wrapper {
      .text {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }

  .contacts {
    .contacts-wrapper {
      margin-top: 50px;
      margin-bottom: 100px;

      .company-wrapper {
        .company__title {
          margin-bottom: 70px;
          font-family: Comissioner-Regular;
          font-size: 20px;
          text-transform: uppercase;
        }
      }

      .office-wrapper, .work-time-wrapper {
        margin-top: 30px;
        margin-bottom: 35px;
      }

      .office-wrapper {
        .office__title {
          font-size: 15px;
          text-transform: uppercase;
          padding-bottom: 5px;
          border-bottom: 1px solid rgb(0 0 0 / 10%);
        }
      }

      .work-time-wrapper {
        .work-time__title {
          font-size: 15px;
          text-transform: uppercase;
          padding-bottom: 5px;
          border-bottom: 1px solid rgb(0 0 0 / 10%);
        }
      }


      .first {
        margin-top: 90px;
        margin-bottom: 50px;
      }

      .wrap {
        .last {
          margin-top: 20px;
        }

        .name {
          margin-right: 10px;
          margin-bottom: 5px;
          font-family: Comissioner-Medium;
          font-size: 13px;
        }

        .contacts__text {
          font-size: 13px;
          margin-bottom: 3px;
          font-family: 'Lato-Light';

        }

        .contacts__title {
          font-family: Comissioner-Regular;
          font-weight: bold;
          font-size: 14px;
          text-transform: uppercase;
          margin-bottom: 10px;
        }

        .arrow-wrapper {
          margin-left: 40px;
        }

        .email {
          margin-top: 3px;
          font-weight: bold;
        }

        img {
          margin-right: 10px;
        }

        .contacts__name {
          font-family: Comissioner-Medium;
          font-size: 13px;
          font-weight: bold;
          margin-bottom: 5px;
        }
      }
    }
  }

  .footer {
    .footer-wrapper {
      background-color: rgb(0 0 0 / 10%);
      height: 55px;
      display: flex;
      justify-content: center;
      align-items: center;

      .footer__text {

        font-family: 'Lato-Light';
        font-size: 12px;
      }
    }
  }
}
