@import 'assets/fonts/fonts.css';

@media(max-width: 1200px) {
  .container {
    max-width: 970px;
  }

  .owl-nav {
    max-width: 970px !important;
  }

  .reviews-slider {
    .owl-nav {
      display: none;
    }
  }

  .activity__title {
    font-size: 20px !important;
  }

  .activity__button {
    font-size: 12px !important;
  }

  .average{
    height: 335px !important;
  }
}

@media(max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .full-screen {
    width: 100% !important;
  }

  .owl-nav {
    max-width: 750px !important;
  }

  .description {
    .content-wrapper {
      img {
        display: none;
      }
    }
  }

  .reviews-slider {
    .owl-dots {
      margin-bottom: 20px;
      margin-top: -10px;
      contain: none;
      padding: 0;
    }

    .owl-nav {
      display: none;
    }
  }

  .reviews {
    .wrapper-text {
      .name {
        font-size: 18px !important;
      }
    }
  }

  .logos {
    display: grid !important;
    place-items: center !important;
    justify-content: center !important;
  }

  .activity__title {
    font-size: 12px !important;
  }

  .activity__button {
    font-size: 9px !important;
  }

  .block-wrapper {
    .block {
      height: auto !important;
      padding: 25px 40px !important;
    }
  }

  .average {
    height: 335px !important;
  }

  .slider-images {
    .owl-nav{
      display: none;
    }
    .item {
      width: auto !important;

      .img {
        width: auto !important;
      }
    }
  }

}

@media(max-width: 767px) {
  .container {
    max-width: none;
  }

  .logo {
    margin-top: -105px;
  }

  .reviews-slider {
    .owl-dots {
      margin-bottom: 20px;
      margin-top: -50px;
      contain: none !important;
      padding: 0;
    }

    .owl-nav {
      display: none;
    }
  }
  .contacts-wrapper {
    .last {
      margin: 0 !important;
    }

    .contacts__title, .contacts__name {
      margin-top: 30px !important;
    }
  }
  .slider-activities {
    .text-wrapper {
      height: 325px;
    }
  }
  .slider__title {
    font-size: 30px;
  }

  .advantages {
    .text-block {
      margin-top: 30px;
    }
  }

  .logos {
    display: grid !important;
    place-items: center !important;
    justify-content: center !important;
  }

  .feature__title {
    padding-right: 5px;
    font-size: 15px !important;
  }
  .activity__title {
    font-size: 20px !important;
  }

  .activity__button {
    font-size: 12px !important;
  }

  .average {
    height: 285px !important;
  }

  .logo {
    margin-top: 0 !important;
  }
}

.bg-white{
  background-color: white;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding:0 15px;
}

.button-wrapper{
  text-align: right;
}

.title {
  font-family: Comissioner-Regular;
  font-size: 28px;
}

.text{
  font-family: Lato;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: rgba( 0 0 0 /80%);
}

.button {
  background-color: #DEC377;
  font-family: Comissioner-Bold;
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  width: 200px;
  height: 45px;
  border: none;
  outline: none;
  margin-top: 10px;
  margin-bottom: 100px;

  &:hover {
    background-color: white;
    color: #DEC377;
    border: 2px solid #DEC377;
  }

  &:focus{
    outline: none;
  }
}

.button-detail{
  padding: 0;
  font-size: 12px;
  background-color: white;
  border: none;
  text-transform: uppercase;
  font-family: 'Lato';
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);

  &:hover{
    text-shadow: 1px 6px 5px #a7a7a7;
  }

  &:focus {
    outline: none;
  }
}

body {
  background-color: #E5E5E5;

  .header {
    line-height: 60px;

    .hamburger-menu {
      margin-top: -32px;
      margin-left: -15px;
    }

    label {
      font-family: SourceSansPro-Light;
      font-size: 16px;
    }

    select {
      font-family: SourceSansPro;
      font-family: Lato;
      color: rgba( 0 0 0 / 80%);
      font-size: 16px;
      border: none;
      background: none;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }

    .eye:hover {
      cursor: pointer;
    }

    a {
      font-size: 14px;
      color: #808080;
    }

    .navigation {
      ul {
        flex-wrap: wrap;
        list-style: none;

        li {
          a {
            font-family: Comissioner-Medium;
            text-transform: uppercase;
            font-size: 14px;
            color: #000000;
            padding-bottom: 5px;
            text-decoration-line: none;

            &:hover {
              border-bottom: 2px solid #000000;
            }
          }

          img:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .slider-activities {
    .carousel {
      height: 650px;

      .owl-stage-outer {
        z-index: -1;
      }

      .img-wrapper{
        .bg-img{
          background-repeat: no-repeat;
          height: 650px;
          width: 100%;
        }
        .pic-1,.pic-2,.pic-3, .pic-4, .pic-5{
          background-position-x: center !important;
        }
        .pic-1{
          background: url(assets/images/slider-activities-1.png);
        }
        .pic-2{
          background: url(assets/images/slider-activities-2.png);
        }
        .pic-3{
          background: url(assets/images/slider-activities-3.png);
        }
        .pic-4{
          background: url(assets/images/slider-activities-4.png);
        }
        .pic-5{
          background: url(assets/images/slider-activities-5.png);
        }
      }
      .owl-nav {
        font-size: 55px;
        max-width: 1200px;
        text-align: left;
        padding-left: 30px;
        margin: -187px auto 0 auto;
        outline: none;
        contain: size;

        & *:focus {
          border: none;
          outline: none;
        }

        & *:hover {
          color: rgba(0 0 0 / 80%) !important;
          background: none !important;
        }

        span {
          margin-right: 40px;
        }
      }

      .item {
        .wrapper-information {
          position: absolute;
          height: 650px;
          display: flex;
          flex-wrap: wrap;
          align-content: center;

          .slider__title {
            font-family: Comissioner-Regular;
            font-size: 40px;
            margin-bottom: 20px;
          }

          .slider__subtitle {
            font-size: 15px;
            font-family: Lato;
            font-weight: 300;
            margin-bottom: 40px;
            margin-right: 95px;
          }
        }
      }
    }
  }

  .advantages {
    .average {
      z-index: 1;
      margin-top: -70px;
      margin-bottom: 100px;
      background-color: white;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
      position: relative;
      padding: 35px;
      height:285px;
    }

    .mrgn {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .wrapper-icon {
      margin: 0 auto 30px auto;
      width: 106px;
      height: 106px;
    }

    .icon{
      border: 3px solid #00000021;
      border-radius: 50%;
      padding: 20px;
    }

    .title-wrapper {
      .title-icon {
        font-size: 16px;
        text-align: center;
        font-weight: 400;
        font-family: 'Lato';
        color: rgba( 0 0 0 / 75%);
      }
    }

    .text-block {
      background-color: #FFFFFF;
      background-image: url(assets/images/triangle.png);
      background-repeat: no-repeat;
      background-position-x: right;
      margin-bottom: 100px;

      .text {
        padding: 50px;
      }
    }
  }

  .description {
    .content-wrapper {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
      background-color: white;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 100px;

      .image-wrapper {
        padding: 0;

      }

      .description-wrapper {
        padding: 15px;
      }

      img {
        float: right;
      }
    }
  }

  .activities {
    .text {
      &:last-child {
        margin-top: 30px;
        margin-bottom: 60px;
      }

    }

    .activity-wrapper {
      .title {
        margin-bottom: 40px;
      }

      .activity {
        display: flex;
        height: 140px;
        padding: 15px;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        margin-bottom: 30px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
      }

      .information-wrapper {
        width: 175px;

        .activity__title {
          font-family: Comissioner-Regular;
          font-size: 20px;
        }
      }

      .image-wrapper {
        border: 1px solid #00000021;
        border-radius: 50%;
        padding: 20px;
      }
    }
  }

  .slider-images {
    .large {
      max-width: 1370px !important;
    }

    .owl-prev{
      position: absolute;
    }
    .owl-next {
      float: right;
      position: absolute;
      right:5px
    }

    .owl-nav {
      margin-top: -330px;
      margin-bottom: 220px;
      font-size: 55px;
      outline: none;

      & *:focus {
        border: none;
        outline: none;
      }

      & *:hover {
        color: rgba(0 0 0 / 80%);
        background: none;
      }
    }

    .item {
      width: 1170px;
      margin: 0 auto;
    }
  }

  .reviews {
    .title {
      margin-bottom: 40px;
      margin-top: -150px;
      padding-top: 185px;
    }

    .reviews-slider {
      .owl-dots {
        padding-top: 50px;
        contain: size;

        .owl-dot {
          margin-top: 10px;

          &:focus {
            outline: none;
          }

          span {
            outline: none;
            background: #E5E5E5 ;

            &:hover {
              background: #DEC377 !important;
            }
          }

          &.active {
            span {
              background: #DEC377 !important;
            }
          }
        }
      }

      .owl-nav {
        font-size: 55px;
        max-width: 1200px;
        text-align: right;
        outline: none;
        contain: size;

        & *:focus {
          border: none;
          outline: none;
        }

        & *:hover {
          color: rgba(0 0 0 / 80%);
          background: none;
        }

        span {
          margin-right: 40px;
        }
      }

      .item {
        height: 585px;
        background-color: white;
        padding: 0px 5px;

        .wrapper-information {
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

          .wrapper-text {
            padding: 50px;

            .position {
              margin-top: 25px;
              font-family: Lato;
              font-weight: 400;
              margin-bottom: 5px;
              font-size: 15px;
            }

            .name {
              font-family: Comissioner-Bold;
              font-size: 26px;
              color: #DEC377;
            }

            .review {
              letter-spacing: 0.5px;
              font-size: 14px;
              color: rgba(0, 0, 0, 0.8);
              display: -webkit-box;
              -webkit-line-clamp: 12;
              -webkit-box-orient: vertical;
              overflow-y: hidden;
              text-overflow: ellipsis;
              font-family: 'Lato';
              font-weight: 300;
            }
          }

          .review__button {
            font-weight: 600;
            color: rgba(0 0 0 / 50%);
            font-family: 'Lato';
          }
        }
      }
    }

    .reviews-section__button {
      margin-top: -20px;
    }

    .logos {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      img {
        filter: grayscale(1);
        padding-bottom: 100px;
      }
    }
  }


  .features-1 {
    .block-wrapper {
      margin-top: 70px;

      .block-with-img {
        background-image: url(assets/images/triangle.png);
        background-repeat: no-repeat;
        background-position-x: right;
      }

      .block {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        height: 305px;
        background-color: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        margin-top: 30px;
        padding: 0px 55px;

        .block__title {
          font-family: Comissioner-Regular;
          font-size: 26px;
        }
      }
    }

    img {
      width: 100%;
      margin-top: 100px;
      margin-bottom: 100px;
    }
  }

  .features-2 {
    .title {
      margin-bottom: 30px;
    }

    .features-wrapper {
      .feature {
        background-color: white;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 50px;
        }

        &:nth-child(3), &:nth-child(4), &:nth-child(7), &:nth-child(8) {
          width: 570px;
        }

        &:nth-child(2), &:nth-child(5), &:nth-child(9) {
          width: 670px;
        }

        .image-wrapper {
          width: 70px;
          margin-right: 35px;
          opacity: 0.4;

        }

        .opacity1 {
          opacity: 1;
        }

        .opacity75 {
          opacity: 0.75;
        }
      }

      .feature__title {
        font-family: Comissioner-Regular;
        font-size: 20px;
      }

      .feature__button {
        right: 0;
        bottom: 0;
        position: absolute;
        padding: 0 20px 25px;
      }
    }

    .button-wrapper{
      margin-bottom: 100px;
    }
  }

  .reputation {
    .reputation-wrapper {
      border-bottom: 2px solid rgb(0 0 0 / 10%);
      padding-top: 100px;
      padding-bottom: 50px;

      &:last-child {
        padding-top: 50px;
        padding-bottom: 100px;
      }

      &:last-child {
        border: none;
        margin-bottom: 100px;
      }

      .title {
        margin-bottom: 40px;
      }
      ul {
        margin-top: 5px;
        padding: 0;
        list-style: none;

        li {

          display: flex;
          margin-bottom: 20px;
          .reputation__text{
            font-weight: 600;
            font-family: Lato;
            color: rgba( 0 0 0 / 75%);
            font-size: 17px;
          }

          img {
            margin-right: 20px;
          }
        }
      }
    }
  }

  .cooperation {
    .cooperation-wrapper {
      margin-bottom: 100px;

      .title {
        margin-bottom: 40px;
      }
      .number{
        font-weight: 400;
      }
      .information-wrapper {
        display: flex;
        flex-wrap: inherit;

        img {
          margin-right: 30px;
          margin-bottom: 30px;
        }
      }

      .form {
        padding: 50px;
        background-color: white;

        .phone-wrapper, .name-wrapper {
          border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
        }

        .name, .phone {
          font-family: Comissioner-Medium;
          font-size: 13px;
          font-weight: 500;
          color: rgba( 0 0 0 /50%);
        }

        .phone {
          margin-top: 10px;
        }

        input {
          font-family: Lato;
          font-size: 15px;
          font-weight: 300;
          border: none;
          margin-bottom: 5px;
          font-size: 15px;
          outline: none;
        }

        .text {
          font-family: Lato;
          font-size: 13px;
          margin-top: 20px;
          letter-spacing: 0.5px;
          color: rgba( 0 0 0 /80%);
          margin-bottom: 20px;

          span {
            font-family: Lato;
            font-size: 13px;
            font-weight: 700;
            color: rgba( 0 0 0 / 50%);
            border-bottom: 1px solid rgba( 0 0 0 / 50%);
          }
        }

        .form__button {
          margin-bottom: 10px;
          width: 100%;
        }
      }
    }
  }

  .tariffs {
    border-bottom: 1px solid rgb(0 0 0 / 10%);

    .tariffs-wrapper {
      .text {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }

  .contacts {
    .contacts-wrapper {
      margin-top: 50px;
      margin-bottom: 100px;

      .company-wrapper {
        .company__title {
          margin-bottom: 70px;
          font-family: Comissioner-Regular;
          font-size: 20px;
          color: rgba(0 0 0 /75%);
          text-transform: uppercase;
        }
      }

      .office-wrapper, .work-time-wrapper {
        margin-top: 30px;
        margin-bottom: 35px;
      }

      .office-wrapper {
        .office__title {
          font-size: 15px;
          text-transform: uppercase;
          padding-bottom: 5px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          font-family: Lato;
          font-weight: 400;
          color: rgba(0 0 0 /50%);
        }
      }

      .work-time-wrapper {
        .work-time__title {
          font-family: Lato;
          font-weight: 400;
          color: rgba(0 0 0 /50%);
          font-size: 15px;
          text-transform: uppercase;
          padding-bottom: 5px;
          border-bottom: 1px solid rgb(0 0 0 / 10%);
        }
      }


      .first {
        margin-top: 90px;
        margin-bottom: 50px;
      }

      .wrap {
        .last {
          margin-top: 20px;
        }

        .name {
          margin-right: 10px;
          margin-bottom: 5px;
          font-family: Comissioner-Medium;
          font-size: 13px;
          color: rgba( 0 0 0 / 75%);
        }

        .contacts__text {
          font-size: 13px;
          margin-bottom: 3px;
          font-family: Lato;
          font-weight: 300;
        }

        .contacts__title {
          font-family: Comissioner-Regular;
          font-weight: 400;
          font-size: 14px;
          text-transform: uppercase;
          margin-bottom: 10px;
          color: rgba( 0 0 0 / 75%);
        }

        .arrow-wrapper {
          margin-left: 40px;
        }

        .email {
          margin-top: 3px;
          font-weight: 400;
        }

        img {
          margin-right: 10px;
        }

        .clr {
          color: rgba(0 0 0 / 50%)
        }

        .contacts__name {
          font-family: Comissioner-Medium;
          font-size: 13px;
          margin-bottom: 5px;
        }
      }
    }
  }

  .footer {
    .footer-wrapper {
      background-color: rgb(0 0 0 / 10%);
      padding: 20px 0;

      .footer__text {
        text-align: center;
        margin: 0;
        font-family: Lato;
        font-weight: 300;
        font-size: 12px;
        color: rgba( 0 0 0 /80%);
      }
    }
  }
}
